.side-menu {
  width: 20%;
  height: calc(100% - 60px);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #0f3258;
  color: #ffffff;
  align-items: center;
}

.photo {
  box-shadow: 22px 14px 38px 0px rgba(0, 0, 0, 0.75);
  width: 150px;
  height: 150px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo .i-photo {
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/user-solid.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
  gap: 15px;
  font-size: 17px;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.options button {
  background-color: unset;
  border: unset;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

button.button.open {
  background-color: #0c2846;
}

.home {
  width: 22px;
  height: 22px;
  background-image: url(/src/assets/house-solid.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.ingressantes {
  width: 22px;
  height: 22px;
  background-image: url(/src/assets/folder-solid.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
